body {
    background-color: #0e171e;
}

.calculator {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 20px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #2f4d64;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    border-radius: 6px;
}

.screen {
    grid-column: 1 / span 5;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-family: 'LCD14';
    vertical-align: middle;
    text-align: right;
    font-size: 16px;
    height: 33px;
    width: 235px;
    border-radius: 6px;
    background-color: #f2f5eaff;
    font-size:x-large;
    color: #2c363fff;
}

.clear {
    width: 90px;
    grid-column: 4 / span 2;
    background-color:  #5c1823;
    color: #f8e4e7;
}

#bksp {
    background-color: #f8e4e7;
    color:  #5c1823;
}

#bksp:disabled {
    background-color: #f8e7ea;
    color: #962d3e50;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #6d98baff;
    border: none;
    color: #2c363fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    color: rgba(44, 54, 63, 0.329);
}

button:hover {
    border-style: solid;
    border-width: thin;
}

button:disabled {
    cursor: not-allowed;
}

.operator {
    background-color: #2c363fff;
    color: #f0803cff;;
}

.operator:disabled {
    color: rgba(240, 129, 60, 0.267);
    
}

#equals {
    grid-column: 4 / span 2;
    width: 90px;
    background-color: #f0803cff;
    color: #2c363fff;
}

#equals:disabled {
    color: rgba(44, 54, 63, 0.308);
}