body {
    background-color: #d7d5d5;
}

.calculator {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 20px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #979C9C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    border-radius: 6px;
}

.screen {
    grid-column: 1 / span 3;
    padding-left: 5px;
    padding-top: 7px;
    font-family:'Courier New', Courier, monospace;
    height: 33px;
    width: 135px;
    border-radius: 6px;
    background-color: #f5f5f5;
    font-size:x-large;
    color: #374140;
}

.clear {
    background-color: #962D3E;
    color: #ffffff;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #F2EBC7;
    border: none;
    color: #343642;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    border-style: solid;
    border-width: thin;
}

button:disabled {
    cursor: not-allowed;
}

.operator {
    background-color: #343642;
    color: #348899;
}

.operator:disabled {
    color: rgba(52, 136, 153, 0.322);
    
}

#equals {
    background-color: #348899;
    color: #343642;
}

#equals:disabled {
    color: rgba(52, 54, 66, 0.329);
}