.calculator {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 20px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    border-radius: 6px;
}

.screen {
    grid-column: 1 / span 3;
    padding-left: 5px;
    padding-top: 7px;
    font-family:'Courier New', Courier, monospace;
    
    
    height: 33px;
    width: 135px;
    
    border-radius: 6px;
    background-color: gainsboro;
    font-size:x-large;
}

.clear {
    background-color: firebrick;
    color: floralwhite;
    
}

button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    

    background-color: #b9b9b9;
  border: none;
  color: black;
  
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  
  cursor: pointer;
}

.operator {
    background-color: black;
    color: orange;
}

.equals {
    background-color: orange;

}